<a href="https://colab.research.google.com/github/greengoosepumpkin/Project-Directory/blob/main/Table11_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#!pip install dmba
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from dmba import classificationSummary

accidents_df = pd.read_csv('accidentsnn.csv')
accidents_df.head(5)

   ALCHL_I  PROFIL_I_R  SUR_COND  VEH_INVL  MAX_SEV_IR
0        2           0         1         1           0
1        2           1         1         1           2
2        1           0         1         1           0
3        2           0         2         2           1
4        2           1         1         2           1

In [5]:
input_vars = ['ALCHL_I', 'PROFIL_I_R', 'VEH_INVL']

In [6]:
accidents_df.SUR_COND = accidents_df.SUR_COND.astype('category')
accidents_df.MAX_SEV_IR = accidents_df.MAX_SEV_IR.astype('category')
accidents_df.dtypes

ALCHL_I          int64
PROFIL_I_R       int64
SUR_COND      category
VEH_INVL         int64
MAX_SEV_IR    category
dtype: object

In [7]:
#convert the categorical data into dummy variables
#exclude the column for SUR_COND_9 = unknown
processed = pd.get_dummies(accidents_df, columns=['SUR_COND'])
processed = processed.drop(columns = ['SUR_COND_9'])

outcome = 'MAX_SEV_IR'
predictors = [c for c in processed.columns if c != outcome]

#partition data
X = processed[predictors]
y = processed[outcome]
train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size=0.4, random_state=1)

In [8]:
#train neural network with 2 nodes in a single hidden layer
clf = MLPClassifier(hidden_layer_sizes=(2), activation='logistic', solver='lbfgs', random_state=1)
clf.fit(train_X, train_y.values)

MLPClassifier(activation='logistic', hidden_layer_sizes=2, random_state=1,
              solver='lbfgs')

In [9]:
# classification summaries
classificationSummary(train_y, clf.predict(train_X))
classificationSummary(valid_y, clf.predict(valid_X))

Confusion Matrix (Accuracy 0.8664)

       Prediction
Actual   0   1   2
     0 331   0   1
     1   0 180   0
     2  30  49   8
Confusion Matrix (Accuracy 0.8550)

       Prediction
Actual   0   1   2
     0 218   0   1
     1   0 119   0
     2  24  33   5